<html>
  <head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <link type="text/css" rel="stylesheet" href="/uswds/css/uswds.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      .usa-collection__description em {
        background: yellow;
      }
    </style>
  </head>
  <div class="grid-container">
    <div class="grid-row">
      <div class="tablet:grid-col-12">
